@using DTO;
@model List<TaskDto>;


@if (TempData["messageUpdated"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["messageUpdated"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container py-4">
    <a class="btn btn-outline-success" asp-action="Create" asp-controller="Task">
        <i class="bi bi-plus-circle me-1"></i>Create Task
    </a>
</div>
<div class="container py-4">


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @if (Model != null)
        {
            @foreach (TaskDto task in Model)
            {
                //llamara a nuestra vista parcial
                @await Html.PartialAsync("_TaskCard", task);
            }
        }



    <!-- Puedes duplicar este bloque para más tareas -->

  </div>
</div>
